


.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

.footer {
background-color: #121212;
}
.footer {
  padding: 1rem 2rem 3rem;
}
.footer-heading {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.socials{

  padding-top: 1.25rem;

}
.footer a {
  color: white;
  text-decoration: none!important;
  display: inline;
  transition: all 0.5s ease 0s;
}
.mt-3 {
  letter-spacing: .5rem;
  margin: 10px;

}
footer a:hover {
  color: #5291c9;
  transition: all 0.5s ease 0s;
}
.footer-links p a {
  transition: all .5s ease;
}
p.footer-links a:hover {
  color: #5291c9!important;
  transition: all .5s ease;
}
.footer-projects img {
  max-height: 6rem;
}
.footer-projects p {
  font-size: .8rem;
  color: #999999;
}
.footer-projects p:hover {
  color: #5291c9;
}
.mt-2{
  padding-bottom: 4rem;
}